body {
    background-color: #DAF7A6;
    font-family: 'Cactus Classical Serif', serif;
}

main {
    min-height: 100vh;
}

.container {
    max-width: 90vw;
    background-color: #A6DAF7;
    box-shadow: 0 0 10px 0px #A6DAF7;
}

.accent {
    background-color: #F7A6DA;
}

.navbar-brand {
    font-family: 'Whisper';
    font-size: 3em;
}

header {
    border-bottom: solid 1px #F7A6DA;
}