/* ------------ General Styles ------------ */

body {
    background-color: #DAF7A6;
    font-family: 'Cactus Classical Serif', serif;
}

main {
    min-height: 100vh;
}

.container {
    max-width: 90vw;
    background-color: #A6DAF7;
    box-shadow: 0 0 10px 0px #A6DAF7;
}

.accent {
    background-color: #F7A6DA;
}

.center {
    text-align: center;
}

.navbar {
    padding: 0;
}
.navbar-brand {
    font-family: 'Whisper', serif;
    font-size: 3em;
}

header {
    border-bottom: solid 1px #F7A6DA;
}

h1, input {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

/* ------------ Sign In/Register  ------------ */

.form-control {
    margin-bottom: 1.5rem;
}

#private {
    padding-top: 0;;
}

/* ------------ My Library ------------ */

.card {
    width: 18rem;
    padding: 0;
}

#cover {
    max-width: 100%;
    max-height: 100%;
}

.cover-title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Whisper", serif;
    color: #FFF;
    font-size: 2.5rem;
}

label.required::after {
    content: " *";
    color: red;
}

.single-book {
    max-height: 60vh;
    text-align: center;
}

.single-book img {
    max-width: inherit;
    max-height: inherit;
}

.single-book > .cover-title {
    top: 50%;
    left: 35%;
}