{% extends "base.html" %}
{% block content %}

<h1 class="center">About</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 m-auto">
            <p>libremate is a free online bookshelf for readers that would like a clean, clear place to
                keep track of
                their collection and to keep their thoughts about the books they love (or don't!) We like to showcase
                community
                reviews to get a feel for what your book-loving friends are reading, but libremate can be kept
                completely private as
                well if you'd like to keep your books and your thoughts to yourself. We believe there is something
                deeply precious about keeping a record of the way a book has touched your heart and mind; here on
                libremate you may record your thoughts and feelings about a book and rest assured they will be kept safe
                for you to revisit when time has passed and calls for reflection.</p>
        </div>
    </div>
</div>


{% endblock %}