{% extends "base.html" %}
{% block content %}

<h1 class="center mb-3">Account Settings</h1>
<h2 class="center">{{ session["user"] }}'s Account</h2>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>My Genres</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Genre</th>
            <th scope="col">Number of Books</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
         {% for genre in genres %}
          <tr>
            <th>{{ genre.genre_name }}</th>
            <th>{{ genre.books|length }}</th>
            {% if genre.genre_name == "Misc" %}
              <th></th>
            {% else %}
              <th><a href="{{ url_for('delete_genre', genre_id=genre.id) }}" class="btn btn-danger m-2" role="button">Delete Genre</a><a href="" class="btn btn-success m-2" role="button">Edit Genre</a></th>
            {% endif %}
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock %}