{% extends "base.html" %}
{% block content %}

<h1 class="center mb-3">Account Settings</h1>
<h2 class="center">{{ session["user"] }}'s Account</h2>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>My Genres</h3>
      <table class="table table-light table-striped">
        <thead>
          <tr>
            <th scope="col">Genre</th>
            <th scope="col">Number of Books</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for genre in genres %}
          <tr>
            <th>{{ genre.genre_name.title() }}</th>
            <th>{{ genre.books|length }}</th>
            {% if genre.genre_name == "misc" %}
            <th></th>
            {% else %}
            <th><button class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#delete-{{ genre.id }}">Delete
                Genre</button><button type="button" class="btn btn-success m-2" data-bs-toggle="modal"
                data-bs-target="#edit-{{ genre.id }}">Edit Genre</button></th>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col mt-4">
      <h3>Account Status</h3>
      {% if reader.private == True %}
      <h4>Private</h4>
      <a href="{{ url_for('privacy', status='public') }}" class="btn accent">Switch to Public</a>
      {% else %}
      <h4>Public</h4>
      <a href="{{ url_for('privacy', status='private') }}" class="btn accent">Switch to Private</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <button class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#delete-account">Delete Account</button>
    </div>
  </div>
</div>



<!-- Modals  -->

<div class="modal fade" id="delete-account" tabindex="-1" aria-labelledby="delete-account-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="container modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="delete-account-label">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Caution!</strong><br>If you delete your account, all of your library data - the books and genres you
          have created - will be permanently deleted. This is irreversible. If you would like to delete your account,
          please check the box confirming you accept this.</p>
        <div class="form-inline">
          <label class="form-check-label required" for="confirmDelete">Confirm Deletion</label>
          <input class="form-check-input p-0" type="checkbox" value="" id="confirmDelete">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteButton" href="{{ url_for('delete_account') }}" class="btn btn-danger m-2 disabled"
          role="button">Delete My Account</a>
      </div>
    </div>
  </div>
</div>

{% for genre in genres %}
{% if genre.genre_name != "misc" %}

<!-- Edit Modal -->
<div class="modal fade" id="edit-{{ genre.id }}" tabindex="-1" aria-labelledby="edit-{{ genre.id }}-label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="container modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="edit-{{ genre.id }}-label">Edit {{ genre.genre_name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('edit_genre', genre_id=genre.id) }}" method="POST" class="needs-validation">
          <div class="row">
            <div class="col">
              <label for="genre_name" class="form-label required">Genre Name</label>
              <input id="genre_name" name="genre_name" class="form-control" type="text" minlength="1" maxlength="20"
                pattern="^[a-zA-Z0-9\&\'\.\,\-]\s{1,20}$" required value="{{ genre.genre_name }}">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn accent">Submit Changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Genre Modal -->

<div class="modal fade" id="delete-{{ genre.id }}" tabindex="-1" aria-labelledby="delete-{{ genre.id }}-label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="container modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="delete-{{ genre.id }}-label">Delete {{ genre.genre_name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you certain you wish to delete this genre? This action will also delete every book currently listed under
          this genre from your account. If you wish to keep the books currently listed in this genre, select the 'Save
          Books under Misc' option first and then return to this page.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ url_for('save_books', genre_id=genre.id) }}" class="btn btn-danger m-2" role="button">Save Books under Misc</a>
        <a href="{{ url_for('delete_genre', genre_id=genre.id) }}" class="btn btn-danger m-2" role="button">Delete
          Genre</a>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}


<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script src="{{ url_for('static', filename='js/delete.js')}}"></script>
{% endblock %}