{% extends "base.html" %}
{% block content %}

<h1 class="center mb-3">Account Settings</h1>
<h2 class="center">{{ session["user"] }}'s Account</h2>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>My Genres</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Genre</th>
            <th scope="col">Number of Books</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
         {% for genre in genres %}
          <tr>
            <th>{{ genre.genre_name }}</th>
            <th>{{ genre.books|length }}</th>
            {% if genre.genre_name == "Misc" %}
              <th></th>
            {% else %}
              <th><a href="{{ url_for('delete_genre', genre_id=genre.id) }}" class="btn btn-danger m-2" role="button">Delete Genre</a><a href="" class="btn btn-success m-2" role="button">Edit Genre</a></th>
            {% endif %}
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modals  -->

{% for genre in genres %}
  {% if genre.genre_name != "Misc" %}

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="edit-{{ genre.id }}" tabindex="-1" aria-labelledby="edit-{{ genre.id }}-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit-{{ genre.id }}-label">Edit {{ genre.genre_name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('edit_genre', genre_id=genre.id) }}" method="POST" class="needs-validation">
          <div class="row">
            <div class="col">
              <label for="genre_name" class="form-label">Genre Name</label>
              <input id="genre_name" name="genre_name" class="form-control" type="text" minlength="1" maxlength="20"
                  pattern="^[a-zA-Z0-9\&\'\.\,\-]\s{1,20}$" required value="{{ genre.genre_name }}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary">Submit Changes</input>
      </div>
    </div>
  </div>
</div>
  {% endif %}
{% endfor %}


<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
{% endblock %}