{% extends "base.html" %}
{% block content %}

<h1 class="center">Add Genre</h1>

<div class="container">
    <form action="{{ url_for('add_genre') }}" method="POST" class="needs-validation">
        <div class="row">
            <div class="col">
                <label for="genre_name" class="form-label">Genre Name</label>
                <input id="genre_name" name="genre_name" class="form-control" type="text" minlength="1" maxlength="20"
                    pattern="^[a-zA-Z0-9\&\'\.\,\-]\s{1,20}$" required>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col center">
                    <button type="submit" class="btn btn-large accent">Submit</button>
                </div>
            </div>
    </form>

    <script src="{{ url_for('static', filename='js/validate.js')}}"></script>
{% endblock %}