{% extends "base.html" %}
{% block content %}

<h1 class="center mb-3">Community Reviews</h1>

<div class="container">
  {% for book in books %}
    <div class="row outline m-lg-auto mb-4">
      <div class="col-sm-12 col-md-6 single-book p-1 my-md-3">
        {% if book.isbn %}
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="Book cover">
        {% else %}
          <img src="{{ url_for('static', filename='images/cover.jpg') }}" alt="Book cover">
          <p class="cover-title center">{{book.book_title}}</p>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-6 my-4 mt-md-5">
        <h2>{{ book.book_title }}
          {% if book.favourite == True %}
           <i class="fa-solid fa-star favourite"></i>
          {% endif %}
        </h2>
        <h3>{{ book.author_name }}</h3><br>
        <h4>Bookshelf: {{ book.book_owner }}</h4><br>
        <h4>Status: {{ book.status.capitalize() }}</h4><br>
        <h4>Review</h4>
        <p>{{ book.review }}</p>
      </div>
    </div>
  {% endfor %}
</div>

<!-- This pagination uses a conditional and a for loop to generate the correct amount of additional pages needed for more community reviews -->
<div class="container">
  <div class="row">
    <div class="col my-4 center">
      <!-- Page navigation HTML code snippet from Bootstrap 5 docs -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if session['page'] == 1 %}
            <li class="page-item"><a class="page-link disabled" href="#">Prev</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('community', page=(session['page'] - 1)) }}">Prev</a></li>
          {% endif %}
          {% for x in range(0, page_numbers) %}
            {% if session['page'] == (x+1) %}
              <li class="page-item"><a class="page-link disabled" href="#">{{ x + 1}}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('community', page=(x + 1)) }}">{{ x + 1}}</a></li>
            {% endif %}
          {% endfor %}
          {% if session['page'] == page_numbers %}
            <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('community', page=(session['page'] + 1)) }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock %}