{% extends "base.html" %}
{% block content %}

<h1 class="center mb-3">Community Reviews</h1>

<div class="container">
    {% for book in books %}
    <div class="row outline mb-4">
      <div class="col-sm-12 col-md-6 single-book my-md-5">
        {% if book.isbn %}
        <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="Book cover">
        {% else %}
        <img src="{{ url_for('static', filename='images/cover.jpg') }}" alt="Book cover">
        <p class="cover-title center">{{book.book_title}}</p>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-6 my-4">
        <h2>{{ book.book_title }}
          {% if book.favourite == True %}
          <i class="fa-solid fa-star fa-xl favourite"></i>
          {% endif %}
        </h2>
        <h3>{{ book.author_name }}</h3>
        <br>
        <h4>Bookshelf: {{ book.book_owner }}</h4>
        <br>
        <h4>Status: {{ book.status.capitalize() }}</h4>
        <br>
        <h4>Review</h4>
        <p>{{ book.review }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  {% for x in range(page_numbers) %}
  <p>x</p>
  {% endfor %}

{% endblock %}