{% extends "base.html" %}
{% block content %}

<h1 class="center">Edit Book</h1>

{% if book.book_owner == session['user'] %}
<div class="container">
    <div class="row special-margin">
        <div class="col my-3">
            <h2>{{ book.book_title }}
                {% if book.favourite == True %}
                <i class="fa-solid fa-star favourite"></i>
                {% endif %}
            </h2>
            <h3>{{ book.author_name }}</h3>
        </div>
    </div>
    <br>
    <form action="{{ url_for('edit_book', book_id=book.id) }}" method="POST" class="needs-validation m-auto" novalidate>
        <div class="form">
            <div class="row">
                <div class="col">
                    <label for="status" class="form-label">Status</label>
                    <select id="status" name="status" class="form-select" required>
                        {% for status in statuses %}
                            {% if status.value == book.status %}
                                <option selected value="{{status.value}}">{{ status.desc }}</option>
                            {% else %}
                                <option  value="{{status.value}}">{{ status.desc }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col my-3">
                    <div class="form-group form-inline">
                        <label for="favourite" class="form-check-label">Favourite?</label>
                        {% if book.favourite == True %}
                        <input id="favourite" name="favourite" class="form-check-input p-0" type="checkbox" checked>
                        {% else %}
                        <input id="favourite" name="favourite" class="form-check-input p-0" type="checkbox">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="book_genre" class="form-label required">Genre</label>
                    <select id="book_genre" name="book_genre" class="form-select">
                        {% for genre in genres %}
                            {% if book.book_genre == genre.id %}
                            <option selected value="{{genre.id}}">{{ genre.genre_name }}</option>
                            {% else %}
                            <option value="{{genre.id}}">{{ genre.genre_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4">
                    <label for="isbn" class="form-label">ISBN</label>
                    <i class="fa-regular fa-circle-question" data-bs-toggle="popover"
                        data-bs-content="Enter the 10-13 digit ISBN number without hyphens to check if the cover image is available!"></i>
                    <input id="isbn" name="isbn" class="form-control" type="number" pattern="^[0-9^-]*$" minlength="10"
                        maxlength="13" value="{{ book.isbn }}">
                    <div class="valid-feedback">Valid!</div>
                    <div class="invalid-feedback">Please enter the 10-13 digit ISBN number without spaces or hyphens.
                    </div>
                    <button id="cover-check" class="btn btn-large accent">Check Cover</button>
                    <div id="user-confirmation" class="center d-none">
                        <img id="cover" src="" class="my-3" alt="Cover page returned from ISBN search">
                        <p>Is this the correct cover?</p>
                        <button class='btn btn-danger' id='reject'>No</button>
                        <button class='btn btn-success' id='confirm'>Yes</button>
                    </div>
                    <sub class="center">Cover image provided by the <a href="https://openlibrary.org/dev/docs/api/covers" target="_blank">Open Library Covers API</a></sub>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4">
                    <label for="review" class="form-label">Review</label>
                    <textarea id="review" name="review" class="form-control" type="text"
                        pattern="^[a-zA-Z0-9\&\'\.\,\-]\s$">{{ book.review }}</textarea>
                </div>
            </div>
            <!-- Book owner will be added using the session username -->
            <div class="row">
                <div class="col center my-3">
                    <button type="submit" class="btn btn-large accent">Submit</button>
                </div>
            </div>
    </form>
</div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col center m-4">
                <h2 class="p-2">Oops!</h2>
                <p class="p-2">This book does not belong to your account. Check the inner cover; you will not find your
                    name scribbled there. I admire the dashing spirit of a book thief though.</p>
                <a href="{{ url_for('community', page=1) }}" class="btn accent">Home</a>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/validate.js')}}"></script>
    <script src="{{ url_for('static', filename='js/cover.js')}}"></script>
{% endblock %}