{% extends "base.html" %}
{% block content %}

<h1 class="center mb-3">My Library</h1>
<h2 class="center">{{ session["user"] }}'s books</h2>

<div class="row">
  <div class="col center p-4">
    <a href="{{ url_for('add_book') }}" class="btn accent m-2" role="button">Add Book</a>
    <a href="{{ url_for('add_genre') }}" class="btn accent m-2" role="button">Add Genre</a>
  </div>
</div>

<!-- Here the user can search for titles or authors in their library. The dropdown allows users to sort their books by any of the main data points in the database table -->
<div class="row">
  <div class="col-md-8 mb-2 center">
    <input type="text" id="search" placeholder=" Search books in your library...">
  </div>
  <div class="col-md-4">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sort By
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('my_library_sort', sort='book_title') }}">Title</a></li>
        <li><a class="dropdown-item" href="{{ url_for('my_library_sort', sort='author_name') }}">Author</a></li>
        <li><a class="dropdown-item" href="{{ url_for('my_library_sort', sort='book_genre') }}">Genre</a></li>
        <li><a class="dropdown-item" href="{{ url_for('my_library_sort', sort='status') }}">Status</a></li>
        <li><a class="dropdown-item" href="{{ url_for('my_library_sort', sort='created_on') }}">Date Created</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- This conditional changes the layout of the books depending on whether the user has grouped them by Genre or Status, with the appropriate headings -->
{% if sort == "book_genre" %}
<div class="container">
  {% for genre in genres %}
  <div class="row g-0 center">
    <h3 class="my-4">{{ genre.genre_name.title() }}</h3>
    {% for book in books %}
      {% if book.book_genre == genre.id %}
        <div class="card col-12 col-md-6 col-lg-4 my-3">
          {% if book.isbn and book.isbn != '0' %}
            <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" class="card-img-top" alt="Book cover">
          {% else %}
            <img src="{{ url_for('static', filename='images/cover.jpg') }}" class="card-img-top" alt="Book cover">
            <p class="cover-title center">{{book.book_title}}</p>
          {% endif %}
          <div class="card-body center">
            <h5 class="card-title">{{ book.book_title }}
            {% if book.favourite == True %}
              <i class="fa-solid fa-star favourite"></i>
            {% endif %}
            </h5>
            <h6 class="card-subtitle">{{ book.author_name }}</h6>
            <a href="{{ url_for('view_book', id=book.id) }}" class="stretched-link"></a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% elif sort == "status" %}
<div class="container">
  {% for status in statuses %}
    <div class="row g-0 center">
      <h3 class="my-4">{{ status.capitalize() }}</h3>
      {% for book in books %}
        {% if book.status == status %}
          <div class="card col-12 col-md-6 col-lg-4 my-3">
            {% if book.isbn and book.isbn != '0' %}
              <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" class="card-img-top" alt="Book cover">
            {% else %}
              <img src="{{ url_for('static', filename='images/cover.jpg') }}" class="card-img-top" alt="Book cover">
              <p class="cover-title center">{{book.book_title}}</p>
            {% endif %}
            <div class="card-body center">
              <h5 class="card-title">{{ book.book_title }}
                {% if book.favourite == True %}
                  <i class="fa-solid fa-star favourite"></i>
                {% endif %}
              </h5>
              <h6 class="card-subtitle">{{ book.author_name }}</h6>
              <a href="{{ url_for('view_book', id=book.id) }}" class="stretched-link"></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% else %}
<h2 class="center m-4">All Books</h2>

<div class="container">
  <div class="row g-0">
    {% for book in books %}
      <div class="card col-12 col-md-6 col-lg-4 my-3">
        {% if book.isbn and book.isbn != '0' %}
         <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" class="card-img-top" alt="Book cover">
        {% else %}
         <img src="{{ url_for('static', filename='images/cover.jpg') }}" class="card-img-top" alt="Book cover">
         <p class="cover-title center">{{book.book_title}}</p>
        {% endif %}
        <div class="card-body center">
          <h5 class="card-title">{{ book.book_title }}
            {% if book.favourite == True %}
              <i class="fa-solid fa-star favourite"></i>
            {% endif %}
          </h5>
          <h6 class="card-subtitle">{{ book.author_name }}</h6>
          <a href="{{ url_for('view_book', id=book.id) }}" class="stretched-link"></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<script src="{{ url_for('static', filename='js/search.js')}}"></script>
{% endblock %}