{% extends "base.html" %}
{% block content %}

<h1 class="center">My Library</h1>
<h2>{{ session["user"] }}'s Books</h2>

<a href="{{ url_for('add_book') }}" class="btn btn-info" role="button">Add Book</a>
<a href="{{ url_for('add_genre') }}" class="btn btn-info" role="button">Add Genre</a>

<ul>
    {% for genre in genres %}
    <li>{{ genre.genre_name.capitalize() }}</li>
    {% endfor %}
</ul>

<h2 class="center">All Books</h2>

<div class="container">
    <div class="row">
        {% for book in books %}
        <div class="card col-12 col-md-6 col-lg-4 position-relative">
            {% if book.isnb == o %}
            <img src="{{ url_for('static', filename='images/cover.jpg') }}">
            <p class="position-absolute top-50 start-50">{{book.book_title}}</p>
            {% else %}
            <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" class="card-img-top" alt="Book cover">
            {% endif %}
            <div class="card-body center">
              <h5 class="card-title">{{ book.book_title }}</h5>
              <h6 class="card-subtitle">{{ book.author_name }}</h6>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock %}