{% extends "base.html" %}
{% block content %}

<h1 class="center">Register</h1>

<div class="container">
    <form action="{{ url_for('register') }}" method="POST" class="needs-validation" novalidate>
        <div class="row">
            <div class="col">
                <label for="username" class="form-label required">Username</label>
                <i class="fa-regular fa-circle-question" data-bs-toggle="popover"
                    data-bs-content="Please choose a username between 3 and 15 characters long, using only letters and numbers"></i>
                <input id="username" name="username" class="form-control" type="text" minlength="3" maxlength="15"
                    pattern="^[a-zA-Z0-9]{3,15}$" required>
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">Please enter a username between 3 and 15 characters long, using no special
                    characters.</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="new-password" class="form-label required">Password</label>
                <i class="fa-regular fa-circle-question" data-bs-toggle="popover"
                    data-bs-content="Please choose a password between 8 and 20 characters long, using only letters and numbers"></i>
                <input id="new-password" name="new-password" class="form-control" type="password" minlength="8"
                    maxlength="20" pattern="^[a-zA-Z0-9]{3,15}$" required>
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">Please enter a password between 8 and 20 characters long, using only
                    letters and
                    numbers.</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="confirm" class="form-label required">Confirm Password</label>
                <i class="fa-regular fa-circle-question" data-bs-toggle="popover"
                    data-bs-content="Please enter the same password again"></i>
                <input id="confirm" name="confirm" class="form-control" type="password" minlength="8" maxlength="20"
                    pattern="^[a-zA-Z0-9]{3,15}$" required>
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">Please enter the same password again.</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group form-inline">
                    <label for="private" class="form-check-label">Private?</label>
                    <i class="fa-regular fa-circle-question" data-bs-toggle="popover"
                        data-bs-content="If you select a private account, your books will not appear in the Community tab"></i>
                    <input id="private" name="private" class="form-check-input mx-2" type="checkbox">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col center mt-4">
                <button type="submit" class="btn btn-large accent">Submit</button>
            </div>
        </div>
    </form>
    <p class="mt-5 center">Already have a libre-mate bookshelf of your own?<br><a href="{{ url_for('signin') }}">Sign in
            here!</a></p>
</div>

<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
{% endblock %}