{% extends "base.html" %}
{% block content %}

<h1>Register</h1>

<div class="container">
    <form action="" method="POST">
        <div class="row">
            <div class="col">
                <input id="username" name="username" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" required>
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="password" name="password" type="password" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9]{3,15}$" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="confirm-password" name="confirm-password" type="password" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9]{3,15}$" required>
                <label for="password">Confirm Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}